.App {
  text-align: center;
  padding-bottom: 50px;
  background-color: white;
}
.Container{
  padding-top: 80px;
  padding-right: 10px;
  padding-left: 10px;
}
.page{
  border:4px solid #686464;
  border-radius: 30px;
  padding:10px;
}

.select-input{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.custom-textArea{
  width: 400px;
  height: 60px;
  border-radius: 10px;
  border-color: black;
  padding-left: 10px;
  text-align: center;
}
.ul{
  list-style-type: none; 
}